pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

/out/
/resources/public/js/compiled/
/resources/public/css/screen.css
/resources/public/css/bulma.css
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# Firebase
src/my_art_gallery/fb/config.cljs
.firebase/
